@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Common Section Started*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #F1F1F3;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
#nav {

}
#nav .nav_container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
#nav .nav_container h2{
    color: #0E0E0E;
    font-weight: bold;
}
#nav .nav_container button {
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 3px;
    font-weight: 600;
    padding: 12px 24px;
    cursor: pointer;
    transition: all linear 0.3s;
}

#nav .nav_container button:hover{
    background-color: #5490F5;
    color : white;
}

#hero{
   padding-top: 36px;
}
#hero .hero_wrapper{
    background-color: #C6E4D6;
    border-radius: 19px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 64px 80px;
}
#hero .hero_details{
    width: 498px;
}
#hero .hero_details h4{
    font-size: 19px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
#hero .hero_details h1{
    font-size: 38px;
    color:#0E0E0E;
    font-weight: bold;
    margin-bottom: 19px;
}
#hero .hero_details .hero_btn {
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 0.3s;
    cursor: pointer;
}
#hero .hero_details .hero_btn:hover{
    background-color: #81B4FC;
}

#hero .hero_img{
width: 380px;
}
#hero .hero_img img{
    width: 100%;
}

/*Common Section Ended*/
/*vision Section Started*/
#vision {
    padding-top: 32px;
}
#vision .heading_details{

}
#vision .heading_details h2{
font-size: 32px;
color: #0E0E0E;
font-weight: bold;
padding-bottom: 19px;
}

#vision .heading_details p{
font-size: 13px;
color: rgba(14, 14, 14, 0.7);
padding-bottom: 25px;
}
.vision_card_details{
    display: flex;
    gap: 19px;
}

.vision_card_details .item_one{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 12px;
}

.vision_card_details .item_two{
    background-color: #C6E4D6;
    border-radius: 12px;
}
.vision_card_details .item_three{
    background-color: #F7EBCF;
    border-radius: 12px;
}

.item_one_wrapper{
    padding: 25px;
}

.item_two_wrapper{
    padding: 25px;
}
.item_three_wrapper{
    padding: 25px;
}

.item_one_wrapper img{
    padding-bottom: 19px;
}

.item_two_wrapper img{
    padding-bottom: 19px;
}
.item_three_wrapper img{
    padding-bottom: 19px;
}

.vision_card_details .item_one .item_one_wrapper h4{
color: #0E0E0E;
font-size: 16px;
font-weight: bold;
padding-bottom: 9px;
}

.vision_card_details .item_two .item_two_wrapper h4{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 9px;
    }
.vision_card_details .item_three .item_three_wrapper h4{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 9px;
    }


.vision_card_details .item_one .item_one_wrapper p{
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
padding-bottom: 19px;
}

.vision_card_details .item_two .item_two_wrapper p{
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
padding-bottom: 19px;
}
.vision_card_details .item_three .item_three_wrapper p{
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
padding-bottom: 19px;
}

.vision_card_details .item_one .item_one_wrapper .vision_btn_one{
background-color: #5490F5;
color: white;
padding: 11px 20px;
border: none;
border-radius: 6px;
font-size: 12px;
font-weight: 600;
transition: all linear 0.3s;
cursor: pointer;
}
.vision_card_details .item_one .item_one_wrapper .vision_btn_one:hover{
        background-color: #09A15C;
}

.vision_card_details .item_two .item_two_wrapper .vision_btn_two{
background-color: #09A15C;
color: white;
padding: 11px 20px;
border: none;
border-radius: 6px;
font-size: 12px;
font-weight: 600;
transition: all linear 0.3s;
cursor: pointer;
}
.vision_card_details .item_two .item_two_wrapper .vision_btn_two:hover{
    background-color: #FFC239;
}

.vision_card_details .item_three .item_three_wrapper .vision_btn_three{
background-color: #FFC239;
color: white;
padding: 11px 20px;
border: none;
border-radius: 6px;
font-size: 12px;
font-weight: 600;
transition: all linear 0.3s;
cursor: pointer;
}
.vision_card_details .item_three .item_three_wrapper .vision_btn_three:hover{
    background-color: #09A15C;
}

/*vision Section Ended*/
/*recentnews Section Started*/
#recentnews{
padding-top: 64px;
}
#recentnews h2{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 19px;
}
#recentnews .news-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
    padding-bottom: 19px;
}

.news_card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 30px 30px 12px 30px;
    
}

.news_image img{
    width: 325px;
    height: auto;
    border-radius: 19px;
}
.news-content {
    padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-content h3{
    font-size: 19px;
    color: #0E0E0E;
    margin-bottom: 9px;
}
.news_details{
  
    margin-bottom: 11px;
    
}
.news_details .news_logo{
width: 107px;
padding-bottom: 9px;
}
.news_details p{
   color: rgba(14, 14, 14, 0.7);
   font-size: 12px;
   
}
.news-content p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
}
.news-content .news_btn {
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: 600;
    max-width: 110px;
    margin-top: 25px;
    transition: all linear 0.3s;
    cursor: pointer;
}
.news-content .news_btn:hover{
background-color: #5490F5;
}

.reverse_image{
    order: 2;
}
.reverse_content{
order: 1;
}

/*recentnews Section Ended*/
/*Common Section Started*/
#donate {
    padding-top: 60px;
}
.donate_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
}
#donate h2{
color: #0E0E0E;
font-size: 32px;
font-weight: bold;
margin-bottom: 19px;
text-align: center;
}
#donate p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
    text-align: center;
}
#donate .donate_card{
    display: flex;
    justify-content: space-between;
}
#donate .donate_card .card_item{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 8px;
background-color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
transition: all linear 0.3s;

}

#donate .donate_card .card_item:nth-child(2){
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 8px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}



#donate .donate_card .card_item:hover{
border: 1px solid #C6E4D6;
cursor: pointer;
background-color: #C6E4D6;

}


#donate .donate_card .card_item h2{
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    line-height: 1;
    margin: 0;
}
.donane_amount {
    margin-top: 25px;
    padding: 0 10px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.donane_amount input{
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.15);
    color: 1px solid rgba(14, 14, 14, 0.30);
    text-align: center;
    padding: 15px 0;
    font-size: 16px; box-shadow: 0 1px 1px rgb(14, 14, 14, 0.3), 
    0 6px 6px rgb(14, 14, 14, 0.15),
    0 9px 9px #FFFFFF;
}

.donane_amount .donate_button {
    padding: 13px 26px;
    max-width: 150px;
    margin: 0 auto;
    background-color: #006A50;
    border-radius: 6px;
    border: 1px solid rgb(14, 14, 14, 0.10);
    color: white;
    font-size: 14px;
    transition: all linear 0.3s;
    cursor: pointer;
}
.donane_amount .donate_button:hover{
background-color: #5490F5;
}
/*Common Section Ended*/
/*Quote Section Started*/

#quotesection{
    padding-top: 25px;
}
#quotesection .quote_wrappter{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 28px 14px;
}


/* background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat; */
    .quota_bg img {
        position: absolute;
        width: 45px;
    }
    #quotesection .quote_wrappter .quoote_description {
        color: rgb(14, 14, 14, 0.8);
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
        margin-bottom: 9px;
    }
#quotesection .quote_wrappter h3{
color : rgb(14, 14, 14, 0.8);
font-size: 16px;
line-height: 18px;
margin-bottom: 4px;
}
#quotesection .quote_wrappter .quote_desig{
color : rgb(14, 14, 14, 0.6);
font-size: 12px;
line-height: 18px;
}

/*Quote Section Ended*/
/*Subscriber Section Started*/
#Subscribe{
    margin: 64px;
}
.subscriber_wrapper{
    background-color: #C6E4D6;
    
}
.subscriber_wrapper .subscriber_card {
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    width: 600px;
    text-align: center;
    flex-direction: column;
    padding: 64px;
}


.subscriber_wrapper .subscriber_card h2{
color: #0E0E0E;
font-size: 32px;
font-weight: bold;
}
.subscriber_wrapper .subscriber_card p{
    margin-top: 13px;
color: #0E0E0E;
font-size: 12px;
color : rgb(14, 14, 14, 0.7);
}
.subscriber_wrapper .subscriber_card .input_form {
    margin-top: 12px;
    margin-bottom: 5px;
    display: flex;
}
.subscriber_wrapper .subscriber_card .input_form input {
    background: #FFFFFF;
    color: rgb(14, 14, 14, 0.3);
    border-radius: 5px 0 0 5px;
    width: 480px;
    border: 1px solid transparent;
    padding: 10px 30px;
    font-size: 12px;
}
.subscriber_wrapper .subscriber_card .input_form button {
    background-color: #006A50;
    font-size: 14px;
    padding: 13px 26px;
    border: 1px solid transparent;
    color: white;
    border-radius: 0 5px 5px 0;
    transition: all linear 0.3s;
    cursor: pointer;
}
.subscriber_wrapper .subscriber_card .input_form button:hover {
background-color: #5490F5;
}


/*Subscriber Section Ended*/
/*Common Section Started*/

/*Common Section Ended*/
/*Common Section Started*/

/*Common Section Ended*/
/*Common Section Started*/

/*Common Section Ended*/
/*Common Section Started*/

/*Common Section Ended*/